    </head>
    <body>
      <nav class="navbar h-class-resp">
        <ul class="nav-list v-class-resp">
            <li class="nav-items"><a href="/" class="nav-links">Home</a></li>
            <li class="nav-items"><a href="/services" class="nav-links">Services</a></li>
            <li class="nav-items"><a href="/aboutUs" class="nav-links">About Us</a></li>
            <li class="nav-items"><a href="/contactUs" class="nav-links">Contact Us</a></li>
          </ul>
          <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
      </nav>
