@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

.detail-container{
background-color: rgba(221, 221, 221, 0.856);
width: 70%;

font-family: 'Montserrat', sans-serif;
border-radius: 1.2rem;
padding: 1rem 0;

margin: 3.5rem auto 7rem;

}

h1.detail-heading
{
    text-align: center;
    padding: .4rem .8rem;
    margin: 1.4rem .8rem;
    font-size: 3.36rem;
    
}

h3.detail-name,h3.detail-account-no,h3.detail-email,h3.detail-balance{
    font-family: 'Montserrat', sans-serif;
    padding: .8rem 1.2rem;
    margin: .8rem 3rem;
    font-size: 2.4rem;
    display: inline-block;
    /* width: 100%; */
    font-weight: 800;

}
p{
    display: inline-block;
    font-weight: 600;
}

form{
    text-align: center;
}

.button {
    background-color: rgb(57, 185, 61); /* Green */
    border: none;
    color: white;
    padding: 1.5rem 3.2rem;
    margin: 1rem auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: bolder;
    border-radius: .8rem;
    width: 33%;
    transition: all 0.5s ease-in-out;
  }
 
  .button:hover{
      background-color: rgb(19, 126, 23);
      width: 80%;
     
      
  }

  @media (max-width: 767px)
{
  html{
    font-size: 45%;
  }

  .detail-container{
    background-color: rgba(221, 221, 221, 0.856);
    width: 87%;
    margin: 3.5rem auto ;
    padding: 1rem 0;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1.2rem;
    
    }
    .button{
      width: 40%;
    }

}
@media (max-width: 450px)
{
  html{
    font-size: 41%;
  }

  .detail-container{
    background-color: rgba(221, 221, 221, 0.856);
    width: 87%;
    margin: 3.5rem auto 5rem;
    padding: 1rem 0;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1.2rem;
    
    }
 
    p{
        display:block;
        font-weight: 600;
    }
    
    .button{
      width: 50%;
    }
}
@media (max-width: 350px)
{
  html{
    font-size: 42%;
  }

  .detail-container{
    background-color: rgba(221, 221, 221, 0.856);
    width: 90%;
    margin: 3.5rem auto 6rem;
    padding: 1rem 0;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1.2rem;
    
    }
 
    p{
        display:block;
        font-weight: 600;
    }
    .button{
      width: 60%;
    }

}
